* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #444;
    background-image: url("/src/assets/QCUB.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    
    
    
}
.container {
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #022f5d;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #efefef, #efefef);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
   /*  border-radius: 150px 0 0 100px; */
}

.signin-signup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

form.sign-in-form{
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

form.sign-up-form{
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}



.title {
    font-size: 35px;
    color: #efefef;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #efefef;
    margin: 10px 0;
    border: 2px solid #252a2a;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #252a2a;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #121212;
}

.input-field img{
    width: 35px;
    cursor: pointer;
    padding-right: 2%;
}
 #subdate {
    padding: 0 5px 0 0;
}

.social-text {
    margin: 10px 0;
    color: #efefef;

}

.social-media {
    display: flex;

}

.social-icon {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #efefef;
    border: 1px solid #efefef;
    border-radius: 50px;
    margin: 0 5px;
}


.btn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #fcb813;
    color: #121212;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 15px;
}
.btn:hover {
    background: #f7b620;
}

a{
    text-decoration: none;
}

.panels-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
    
}
.left-panel{
    pointer-events: none;
}
.content{
    color: #121212;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.panel h3 {
    font-size: 25px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 8px 0;
}
.image{
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}
.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
    
}
.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.container.sign-up-mode::before{
    transform: translateX(0);
    /* border-radius: 0 150px 100px 0; */
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
    
}
.forgot-password-container.forgot-password-mode {
    transform: translateY(200%);
} 

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
    
}

.container.sign-up-mode form.sign-in-form{
    opacity: 0;
    
}

.container.sign-up-mode form.sign-up-form{
    opacity: 1;
    
}


.container.sign-up-mode .right-panel{
    pointer-events: none;
    
}

.container.sign-up-mode .left-panel{
    pointer-events: all;
    
}

/* FOR FORGET PASSWORD ONLY!! */

.forgot-password-container {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
    transform: translateY(200%);
    transition: 1000ms ease-in-out;
    gap: 25px;
}
.forgot-password-container p {
    font-size: 18px;
    color: #121212;
}
.forgot-password-button {
    background: #022f5d;
    font-size: 18px;
    border: none;
    cursor: pointer;
    color: #efefef;
}
.forgot-password-button:hover {
    text-decoration: underline;
}
.input-elements {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.button-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#arrowLeft {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    padding: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: 500ms ease-in-out;
    transform: rotate(-90deg);
}
#arrowLeft:hover {
    background: #e2dddd;
    border-radius: 4px;
}

.fpbtn {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #022f5d;
    color: #efefef;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

#fptitle{
    font-size: 35px;
    color: #efefef;
    margin-bottom: 10px;
}



/* Adjust width for tablets */
@media (max-width: 768px) and (min-width: 520px) {
    .panel {
      width: 100%;  
    }
    .title {
      font-size: 25px;  
    }
    .btn {
        width: 130px;
        height: 35px;
        font-size: 13px;  
    }
    .input-field {
        width: 50%px;
        height: 40px;
    }
    ::placeholder {
        font-size: 13px;
    }
    .forgot-password-button {
        font-size: 13px;
        
    }
    .social-text {
        font-size: 13px;
    }
    .panel h3 {
        font-size: 15px;
        
    }
    .panel p {
        font-size: 12px;
        padding: 4px 0;
    }
    .image{
        width: 80%;
        height: 50%;
      
    }
    .fptitle {
        font-size: 15px;
    }
    .forgot-password-container p {
        font-size: 13px;
    }
    .fpbtn {
        width: 130px;
        height: 35px;  
    }
    .forgot-password-container .input-elements {
        width: 60%px;
        height: 10%;
    }
    text {
        font-size: 12px;
    }
   .container {
    width: 90%;
    margin: 0, auto;
   }

    
  }

  @media (max-width: 519px) and (min-width: 430px) {
    
    .panel {
        width: 100%;  
      }
      .title {
        font-size: 20px;  
      }
      .btn {
          width: 100px;
          height: 35px;  
          font-size: 11px;
      }
      .input-field {
          width: 180px;
          height: 35px;
          
      }
      ::placeholder {
          font-size: 12px;
      }
      .forgot-password-button {
          font-size: 12px;
          
      }
      .social-text {
          font-size: 12px;
      }
      .panel h3 {
          font-size: 12px;
          
      }
      .panel p {
          font-size: 11px;
          padding: 4px 0;
      }
      .image{
          width: 70%;
          height: 45%;
        
      }
      .fptitle {
          font-size: 15px;
      }
      .forgot-password-container p {
          font-size: 13px;
      }
      .fpbtn {
          width: 130px;
          height: 35px;  
      }
      .forgot-password-container .input-elements {
          width: 60%px;
          height: 10%;
      }
      text {
          font-size: 12px;
      }
     .container {
      width: 90%;
      margin: 0, auto;
     }
  
  }

  @media (max-width: 429px) and (min-width: 350px) {
    
    .panel {
        width: 100%;  
      }
      .title {
        font-size: 18px;  
      }
      .btn {
          width: 80px;
          height: 35px;  
          font-size: 9px;
      }
      .input-field {
          width: 130px;
          height: 35px;
          
      }
      ::placeholder {
          font-size: 10px;
      }
      .forgot-password-button {
          font-size: 11px;
          
      }
      .social-text {
          font-size: 11px;
      }
      .panel h3 {
          font-size: 11px;
          
      }
      .panel p {
          font-size: 11px;
          padding: 4px 0;
      }
      .image{
          width: 70%;
          height: 45%;
        
      }
      .fptitle {
          font-size: 13px;
      }
      .forgot-password-container p {
          font-size: 11px;
      }
      .fpbtn {
          width: 110px;
          height: 30px;  
      }
      .forgot-password-container .input-elements {
          width: 60%px;
          height: 10%;
      }
      text {
          font-size: 12px;
      }
     .container {
      width: 90%;
      margin: 0, auto;
     }
    
  
  }